
.space{
    padding-left: 20%;
}

.nav-options{
    color: black;
    font-style: italic;
    font-size: large;
}

.nav-options-dropdown{
    color: black;
    font-style: italic;
    font-size: large;
}