/* TODO change this to your linking */

.space-nav{
    padding-left: 45%;
}

.nav-options{
    color: black;
    font-style: italic;
    font-size: large;
}

.nav-options-dropdown{
    color: black;
    font-style: italic;
    font-size: large;
}